@import 'variables';
@import 'mixins';
@import 'components/bloc-image-text';
@import 'components/ul';
@import 'components/btn';

.cta-intro{
    text-align: center;
    padding: 2rem 0;
}
.services{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 2rem;
    margin: 2rem 0 0 0;
    
    @include is-mobile{
        grid-template-columns: minmax(0, 1fr);
    }
    .service{
        .title{
            text-transform: uppercase;
            color: $colorGreen;
        }

        &:after{
            content: '';
            display: block;
            width: 50%;
            margin: 1rem auto 0 auto;
            border-top: 1px solid $colorGreen;
        }
    }
}